<div class="mb-4 flex justify-between bg-background p-2 border border-muted rounded-md shadow-sm">
  <div class="flex flex-col gap-2 w-full">
    <h3 class="font-semibold text-foreground">Perfil</h3>
    <div class=" flex flex-col gap-2 w-full">
      <hr class="border-dashed border-border">

      <div class="flex py-2 flex-col">

        <div class="px-2 flex-col flex">
          <span class="text-xs text-muted-foreground">Nombre</span>
          <span class="text-base text-foreground" >Walter Ronny Ibañez Saucedo</span>
          <!-- <span class="text-base text-foreground">{{outputProduct.product_type_id | appProduct}}</span> -->

        </div>
      </div>
      <hr class="border-dashed border-border">
      <div class="flex py-2 flex-col">
        <div class="px-2 flex-col flex">
          <span class="text-xs text-muted-foreground">Direccion</span>
          <span class="text-base text-foreground" >Omnia Suites</span>

          <!-- <span class="text-base text-foreground">{{outputProduct.product_type_id | appProduct}}</span> -->

        </div>
      </div>
      <hr class="border-dashed border-border">
      <div class="flex py-2 flex-col">
        <div class="px-2 flex-col flex">
          <span class="text-xs text-muted-foreground">Telefono</span>
          <span class="text-base text-foreground" >+591 78140498</span>

          <!-- <span class="text-base text-foreground">{{outputProduct.product_type_id | appProduct}}</span> -->

        </div>
      </div>
      <hr class="border-dashed border-border">
      <div class="flex py-2 flex-col">
        <div class="px-2 flex-col flex">
          <span class="text-xs text-muted-foreground">Correo</span>
          <span class="text-base text-foreground" >Walter Ronny Ibañez Saucedo</span>

          <!-- <span class="text-base text-foreground">{{outputProduct.product_type_id | appProduct}}</span> -->

        </div>
      </div>
      <hr class="border-dashed border-border">
    </div>





</div>
