<div
  class="w-full overflow-hidden mb-4 flex justify-between bg-background p-2 border border-muted rounded-md shadow-sm">
  <div class="flex flex-col gap-2 w-full">
    <h3 class="font-semibold text-foreground">Consultas</h3>

    <div class="p-2">

      <ng-content *ngFor="let appointment of appointments" >
        <div class="relative mb-4 pl-8 border-l-2 border-primary">
          <!-- Timeline item -->
         <app-detail-patient-appointment-item  [appointment]="appointment" ></app-detail-patient-appointment-item>


          <!-- Add more timeline items here -->
        </div>
        <hr class=" py-2 border-dashed border-border">

      </ng-content>


    </div>
  </div>
</div>
