<div class="flex items-start">
  <div class="absolute left-[-10px] top-0 w-4 h-4 bg-primary rounded-full"></div>
  <div class="ml-4  flex flex-col gap-2 w-full cursor-pointer ">
    <div class="flex  flex-col  gap-1 relative p-2" >
      <div class="flex flex-row gap-2">
        <h4 class="font-semibold text-foreground cursor-pointer">{{appointment.doctorShedule.speciality.name}}</h4>
        <span class="text-foreground">-</span>
        <h4 class="font-semibold text-foreground">{{appointment.doctorShedule.doctor.user.fullName}}</h4>
      </div>

      <p class="text-gray-500 text-xs">{{appointment.appointmentDate}}</p>




    </div>




  </div>
</div>
